*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    display: flex;
    justify-content: center;
    margin-top: 1em;
    flex-wrap: wrap;
}

#homepage{
    margin-top: -1em;
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.schoenen {
    display: flex;
    justify-content: center;
    margin-top: 8em;
    flex-wrap: nowrap;
}

.schoenen h2{
    margin-bottom: 5em;
}

body{
    background-color:#f4f1eb;
}

h1{
    text-align: center;
    font-size: 70px;
}

h2{
    text-align: center;
}

ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;   
    font-size: 25px;
}

ul a{
    color: black;
}

footer{
    display: flex;
    align-items: center;
    padding: 1em;
    gap: 2em;
    margin-top: 15em;
}

footer img{
    margin-right: auto;
}

nav li:hover{
    background-color: gray;
}

nav{
    margin-bottom: 100px;
}

.container{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;    
    justify-content: center;
    }

.container1, .container2, .container3{
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;    
    justify-content: center;
    }

.image {
    display: flex;
    width: 40%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 25px;
    justify-content: space-around;
    } 

.image1, .image2, .image3 {
    display: flex;
    width: 64%;
    height: auto;
    margin-left: 20px;
    margin-bottom: 25px;
    justify-content: space-around;
    } 


.image5{
    width: 40%;
    height: auto;
}

.image6{
    width: 36%;
    height: auto;
}

.image7{
    width: 20%;
    height: auto;
    margin-right: 10%;
}
.info{   
    width: 50%;
    border: 5px solid black;
    padding: 10px;
    margin: 40px;
}

.designer1, .designer3{
    display: flex;
    flex-direction: row;
}

.designer1 img{
    width: 34%;
    height: auto;
    justify-content: flex-start;
}

.designer2, .designer4{
    display: flex;
    flex-direction: row-reverse;
}

.designer3{
    margin-left: -20%;
}

.video1{
    display: flex;
    flex-direction: column;  
    align-items: center;  
    padding-left: 30px;
    padding-top: 20px;
    font-size: 40px;
    border: 5px solid black;
    margin: 8em;
    padding: 20px;
    gap: 0.5em;
}
.overlay {
    position:absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #f4f1eb;
  }

.container:hover .overlay {
    opacity: 1;
  }
  
.text {
    color: black;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 1.4em;
  }

  .text1 {
    color: black;
    font-size: 15px;
    position: relative;
    top: 50%;
    left: 50%;  
    transform: translate(-50%, -50%);
    text-align: center;
  }
  